<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>
  <div class="well">
  <ul>
    <% @categories.each do |category|  %>  
    <li>
      <h3>
    <%= puts category.name.class %>  
    <%= category.name %>  
      </h3>
    </li>
    <% end %>  
<h1>
</h1>
   </ul>
   </div>



</section>
