<article>
  <h1>
  ABOUT US
  </h1>
    <div class="well">

      <p>
      Welcome to the Jungle. <br/>
      We've got fun and games. <br/>
      We are the people that can find whatever you may need. <br/>
      If you got the money, honey we got your disease
      </p>
    </div>
      <p><i><sub>
        *Disclaimer: Jungle Corporation and its subsidiaries do not 
        condone commercial transactions 
        involving pathogens. 
        
        </sub>
      </p>
</article>
